name: Collect and Publish Data

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:  # Allows manual triggering

jobs:
  collect-and-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create data directory
      run: mkdir -p data        

    - name: Collect data
      run: python energyDataScraper.py

    - name: Copy JSON files to docs folder
      run: |
        mkdir -p docs
        cp data/*.json docs/      

    - name: Commit and push if changed
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add data/*.json docs/*.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update data" && git push)