name: Collect and Publish Data

on:
  schedule:
    - cron: '0 16 * * *'  # Runs daily at 16:00 UTC (18:00 CET / 20:00 CEST)
  workflow_dispatch:  # Allows manual triggering

jobs:
  collect-and-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history for all branches and tags
        token: ${{ secrets.PAT }}  # Personal Access Token (PAT) with repo scope

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create data directory
      run: mkdir -p data

    - name: Collect data
      env:
        ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
        HMAC_KEY: ${{ secrets.HMAC_KEY }}
        ENTSOE_API_KEY: ${{ secrets.ENTSOE_API_KEY }}
        OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
        METEO_API_KEY: ${{ secrets.METEO_API_KEY }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}

      run: python data_fetcher.py

    - name: Prepare docs folder with only current data
      run: |
        mkdir -p docs
        cp data/air_history.json data/energy_price_forecast.json data/sun_forecast.json data/weather_forecast.json docs/  # Copy only the current forecast files
        cp data/*.log docs/  # Copy log files for debugging

    # - name: List contents of data and docs directories
    #   run: |
    #     echo "Contents of data directory:"
    #     ls -la data/
    #     echo "Contents of docs directory:"
    #     ls -la docs/

    - name: Commit and push if changed
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add -f data/*.json docs/*.json
        git status
        git diff --staged --name-status
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update energy data" && git push)
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.PAT }}
        publish_dir: ./docs

    - name: Trigger dashboard rebuild
      run: |
        curl -X POST -d {} ${{ secrets.NETLIFY_BUILD_HOOK }}
      continue-on-error: true

    # - name: Verify deployment
    #   run: |
    #     echo "Current directory:"
    #     pwd
    #     echo "Contents of current directory:"
    #     ls -la
    #     echo "Contents of docs directory:"
    #     ls -la docs/
